body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
  color: #252420;
}


.main-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;

  color: #FFFFFF;
}

.site-header {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
}

.link-logo {
  transition: opacity 0.4s ease;
}

.link-logo:hover {
  opacity: 0.8;
}

.link-logo:active {
  opacity: 0.6;
}

.site-header-actions {
  display: flex;
  align-items: center;

}

.sitenav-list {
  list-style: none;
  display: flex;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;

  transition: 0.4s ease,
  opacity 0.4s ease;
}

.sitenav-link:hover {
  color:#FF7500;
}

.sitenav-link:active {
  opacity: 0.6;
}

.main-link {
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.4s ease;

}

.main-link:hover {
  opacity: 0.8;
}

.main-link {
  opacity: 0.6;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252420;
  color: #fff;
}

.hero-content {
  width: 390px;
}

.hero-heading {
  font-family: 'Roboto Condensed', "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  /* or 48px */

  letter-spacing: 0.5px;

  color: #FFFFFF;
}

.hero-img {
  width: 510px;
  height: 510px;
}

.orange-line {
  width: 80px;
  height: 3px;

  background: #FF7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
  font-style: normal;
  font-weight: 700;

  letter-spacing: 0.5px;

  color: #000000;
}

.features-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.feature {
  width: 340px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  font-family: 'Roboto Condensed', "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;

  color: #000000;
}

.feature-info {
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.5px;
  color: #000000;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(37, 36, 32, 1);
  color: #FFFFFF;

}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  /* or 48px */

  letter-spacing: 0.5px;

  color: #FFFFFF;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer {
  background-color: #F8F8F8;

}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
}

.socials a {
  color:#252420
}

.socials a:hover {
  color: #ff7500;
}

.socials a:active {
  opacity: 0.6;
}

.site-footer ul {
  list-style: none;
}

.site-footer-divider {
  line-height: 19px;
  background: rgba(37, 36, 32, 0.5);
  height: 2px;
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
   width: 224px;
   line-height: 19px;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover {
  color: #ff7500;
}

.site-footer-links a:focus {
  opacity: 0.6;
}